
.container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
    align-items: center;
}

.cardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.nog{
    position: relative;
    left: 115%;
    top: 150px;
    opacity: 50%;
}